.menuOptions {
  color: white;
  padding-top: 1rem;
  font-size: 13px;
}

.dynamoLogo {
  width: 153px;
}

.bottomMenu {
  height: auto;
}

.bottomMenuHeader {
  height: 50%;
}

.bottomMenuContent {
  height: auto;
}

.welcomeRow {
  margin-top: 20px !important;
}

.screenBackground {
  height: 412px;
  width: 394px;
}